body {
  font-family: "Nunito", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  position: relative;
}
main #table_cars_deal_wrapper {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 30px;
}
main td {
  text-align: center;
}
main td:nth-child(6) {
  text-align: right;
}
main td:nth-last-child(1) {
  text-align: right;
}
main .newcarsadded {
  width: 300px;
  height: 30px;
  background-color: greenyellow;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 30px;
  display: none;
}
